
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 84% 41%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 210 84% 41%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 210 84% 49.1%;
    --chart-1: 26 70% 55%;
    --chart-2: 109 71% 62%;
    --chart-3: 339 72% 67%;
    --chart-4: 174 64% 43%;
    --chart-5: 220 70% 50%;
    --radius: 0.5rem;
    --sidebar-background: 222.2 84% 4.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 84% 41%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 210 84% 49.1%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 210 40% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 210 40% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 84% 41%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 27.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 27.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 210 84% 41%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 27.5%;
    --input: 217.2 32.6% 27.5%;
    --ring: 210 84% 49.1%;
    --chart-1: 26 70% 55%;
    --chart-2: 109 71% 62%;
    --chart-3: 339 72% 67%;
    --chart-4: 174 64% 43%;
    --chart-5: 220 70% 50%;
    --sidebar-background: 0 0% 3.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 84% 41%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 217.2 32.6% 27.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 27.5%;
    --sidebar-ring: 210 84% 49.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.google-sign-in {
  background-color: #4285f4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.google-sign-in:hover {
  background-color: #357ae8;
}
